*{font-family: 'PT Sans Narrow', sans-serif;}
.body{
	font-family: 'PT Sans Narrow', sans-serif;
}
h1 { font-family: 'Metrophobic', Arial, serif; font-weight: 400; }
/*	css for header	*/
.box{
	padding:20px;
	color:  #f0f5f5;
	border-style: line-inset;
	text-align: center;
	margin: 10px;
}
.green{
	background: green;
}
.blue{
	background: blue;
}
.red{
	background: 	#ff0000;
}
.purple{
	background: #bf00ff;
}
.big-cover{
	background: url('big-cover.jpg');
	background-repeat: no-repeat;
  background-position: center;
  min-height: 100%;
}
.office-img{
	background: url('office2.jpg');
	background-repeat: no-repeat;
  background-position: center;
  /*height: 500px;*/
  min-height: 100%;
}
.contain{
	background-color: rgba(0, 0, 0, 0.5);
}
.inner-contain{
	padding: 20px 200px;
}
.inner-contain p{
	line-height: 30px;
}
.btn1{
	color: white !important;
	background-color: Transparent !important;
	border: solid 1px !important;
}
.btn1:hover {
  background-color: rgba(191, 0, 255, 0.96) !important;;
  color: white !important;
  border: none !important;
}
.navigate{
	text-align: center;
}
.profile-img{
	text-align: center;
	padding-bottom: 25px;
}
.profile-img img{
	border-radius: 50%;
}
/*section style*/
.title-section{
	padding: 0 400px;
}
.title-section h1{
	text-align: center;
	border-bottom: solid 1px;
}
#skill-section{
	display: block;
	min-width: 100%;
}

#experience-section{
	display: block;
	min-width: 100%;
}
#experience-section p, h3{
	color: white;
	text-align: center;
	line-height: 30px;
}

#experience-section .title-section h1{
	padding-top: 20px;
	color : white;
	margin-bottom: 100px;
}
.item-experience{
	padding:30px;
	border: solid 1px white;
	margin: 0 10px;
	background-color: rgba(0, 0, 0, 0.5);
}
#about-section{
	display: block;
	min-width: 100%;
}
.contact-img{
	text-align: center;
	padding-top: 30px;
}
.social{
	text-align: center;
	line-height: 300px;
	padding: 10px 400px;

}
.social i{
	font-size: 80px;
}
.social a:hover{
	border-radius: 50%;
	border: solid 2px purple;
}
#footer-section{
	background: black;
}
